/* .Reset & base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html{
    scroll-behavior: smooth;
}


/* Global Styles */

body{
    /* margin: 0;
    padding: 0; */
    font-family:georgia, serif ;
    /* color:# ; */
    line-height: 1.6 ;
    background-color:#FFFFFF ;
    
}

.container{
    max-width: 1000px;
    padding: 0 20px;
    /* background-color: red; */
    margin: 0 auto;
}

p {
    margin-bottom: 15px;
}
    
/* Header */
.home-herader{
    background-image: url('/images/hero-gym.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: white;

    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
}

.home-herader .hero {
    margin-top: 90px;
}

.home-herader .hero p {
    max-width: 500px;
    margin: auto;
}

.btn {
    
    padding: 10px 20px;
    background-color: #E63946;
    color: white;
    width: 180px;
    margin: 10px auto;

    text-decoration: none;
}

.bttn {
    
    padding: 10px 20px;
    background-color: #E63946;
    color: white;
    width: 180px;
    margin: 10px auto;
position: relative;
top: 20px;
    text-decoration: none;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-radius: 8px;
    background: #27238f;

}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

}

nav ul a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #E63946;
}

.nav-links{
    display: flex;
    gap: 25px;
}


.info-list{
    list-style: none;
    background-color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
}
.info-list li{
    padding: 8px 0;
    border-bottom: #333333;
}

.info-list strong {
    color: #333333;
}


.btn:hover{
    background: #E63946;
    color:#FFFFFF
}

.btn{
    border-radius: 8px;
}
.send-message .btn{
    margin-left: 0auto;
}



section{
    margin-bottom: 40px;
    /* padding: 30px 0; */
    
}

.first-section {
    margin-top: 30px;
}

section h2 {
    border-bottom: 2px solid #E63946;
    margin-bottom: 7px;
}


/* a{
    margin: ;
    padding: ;
    box-sizing: border-box;
} */


/* 
.nav{
    disaplay: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 20px;
    border-radius: 8px;
    background: #1D3557
    padding: 15px;
} */

.nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

}

.nav ul a {
    color: white;
    text-decoration: none;
}

.card {
    background-color: #F1FAEE;
    padding: 20px;
    border-radius: 8px;
}

.first-card {
    margin-bottom: 20px;
}

.card img {
    width: 300px;
    border-radius: 8px;
}
.second-card{
    margin-bottom: 20px;
}

.third-card{
    margin-bottom: 50px;
    background-color: #F1FAEE;
    border-radius: 9px;
    padding: 30px;
}

/* Home page membership section styles */


.membership-card {
    background-color: #F1FAEE;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

    border-left: 4px solid #E63946;
}

.membership-card h3, .membership-card p {
    color: #E63946;
}

.membership-card p {
    font-size: 26px;
}


header{
    background-position: center;
    background-color: #1D3557;
    background-size: cover;
    text-align: center;

}

.contact{
    text-align: center;
}

.contact-form{
    
    margin: 0 auto;
    text-align: left;
}

/* membership cards section */

.membership{
    background: #F1FAEE;
    border-left: 4px solid #E63946;
    padding: 20px;
    border-radius: 8px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight:400 normal 700 bold ;
}

.form-group input,
.form-group text area{
     padding: 12px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 5px;
    border: 2px solid #F1FAEE;
    width: 100%;
}

.form-group input:focus,
.form-group textarea:focus{
    outline: none;
width: 100%;
}
textarea{
    width: 100%;
}

/* Meet our Trainer section */
.Trainers{
    background: #F1FAEE;
    padding: 20px;
    border-radius: 8px;
    image 150px x 150px, 
    border-radius: 50%;
}






/* About page styles */

.about-hero, .contact-hero {
    background-color:#0f65DF;
    padding: 40px 0;
    color: white;
}



/* Footer section */


footer {
    padding: 25px 10px;
    background-color: #1D3557;

    text-align: center;
    color: white;
}

footer span {
    color: #E63946
}

.coach{
    Background: #F1FAEE;
    width: 100%;

}
.fatou{
     Background: #F1FAEE;
    width: 100%;

}
.images{
    border-radius: 50%;
    width: 150px;
}